* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    background-color: rgba(245, 192, 255, 0.178);
}


html {
    scroll-behavior: smooth;
}

.container {
    padding: 120px 40px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: rgb(82, 17, 210);
}

.btn {
    border: none;
    background-color: rgb(82, 17, 210);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 36px;
    border-radius: 40px;
}

.purple__text,
.section__category {
    color: rgb(82, 17, 210) ;
}

h1 {
    font-size: 60px;
}

.section__category {
    margin-bottom: 40px;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 18px;
}

/* NAV */

.text {
    font-size: 32px;
    font-weight: 800;
    margin-left: 16px;
}

nav{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 40px;
    font-weight: 600;
}

.nav__link--login {
    margin-left: 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48px;
}

.section__para {
    font-size: 24px;
    line-height: 1.5em;
    padding: 32px 0;
    color: rgba(0, 0, 0, 0.808);
}

/* LANDING */

.header__wrapper {
    width: 100%;
    display: flex;
    background-color: rgba(245, 192, 255, 0.041);
}

.header__description {
    width: 40%;
}

.header__img {
    width: 60%;
}

.input__wrapper {
    width: 100%;
    position: relative;
}

.header__btn {
    position: absolute;
    right: 0;
    transform: translateY(10%);
}

.header__input {
    font-size: 20px;
    font-weight: 600;
    border: 2px solid lightgray;
    padding: 20px 32px;
    border-radius: 40px;
    width: 100%;
}

.trusted__wrapper {
    height: 220px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 140px;
}

.trusted__para {
    color: gray;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 700;
}

/* SERVICES*/

.service {
    padding: 40px 0;
    display: flex;
    width: calc(100%/3);
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service__title--wrapper {
    text-align: center;
    margin: 0 auto;
}

.service__img--wrapper {
    height: 76px;
    width: 76px;
    margin-right: 20px;
}

.service__text--title {
    color: rgb(6, 41, 14);
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 16px;
}

.service__text--description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.575);
    line-height: 1.5em;
    font-weight: 700;
}